.background {
    background-image: url(../images/fon_create_club.jpg);
    background-color: #51298A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    margin-top: -250px;
    padding-top: 350px;
    width: 100vw;
}

.logo {
    margin: auto;
    margin-top: 10vh;

    background-image: url(../images/logo/logo_1.webp);
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;

    width: 180px;
    height: 180px;
}

.text-input {
    margin-top: 10px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

.block_input {
    display: flex;
    flex-direction: row;
}

.input_ {
    margin-top: 10px;
    margin-left: 7%;

    font-family: "Roboto Condensed", sans-serif;

    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;

    background-color: transparent; /* прозрачный фон */
    border: none; /* убираем все границы */
    border-bottom: 1px solid white; /* нижняя белая граница */
    outline: none; /* убираем обводку при фокусе */
}

.pen {
    background-image: url(../images/pen_white.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 7px;
    min-width: 28px;
    min-height: 28px;
}
