.background {
    padding-top: 30px;

    width: 100vw;

    background-image: url(../images/fon_create_club.jpg);
    background-attachment: fixed;
    background-position: center top -30vw;
    background-color: #51298A;
    background-repeat: no-repeat;
    background-size: 160%;
}

.logo {
    margin: auto;
    margin-top: 10vh;

    background-image: url(../images/logo/logo_1.webp);
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;

    width: 180px;
    height: 180px;
}

.text-input {
    margin-top: 10px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

.block_input {
    display: flex;
    flex-direction: row;
}

.block_input::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    background-image: url(../images/pen_white.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.input_ {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-top: 10px;
    margin-left: 12%;

    width: 70%;

    font-family: "Roboto Condensed", sans-serif;

    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;

    background-color: transparent; /* прозрачный фон */
    border: none; /* убираем все границы */
    border-bottom: 1px solid white; /* нижняя белая граница */
    outline: none; /* убираем обводку при фокусе */
}

.done {
    display: block;

    margin: auto;
    padding: 7px 7px;
    
    width: 100%;
    max-width: 130px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    
    color: #FFFFFF;
    
    border: 2px solid #00A310;
    background: linear-gradient(180deg, #BDFF7C 0%, #5AFF70 39.63%, #00E11E 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4);
    border-radius: 19px;
    text-align: center;
}

