.background {
    padding-top: 20px;

    width: 100vw;

    background-image: url(../images/fon_quiz.jpg);
    background-attachment: fixed;
    background-position: center top -12vw;
    background-color: #51298A;
    background-repeat: no-repeat;
    background-size: 70%;

    z-index: -2;
}

.timer {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    width: 100%;
}

.text_timer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    padding-right: 2px;
    margin-right: 20px;

    width: 55px;

    background: #7E3CE0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17.2868px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 1.5px 1.3px rgba(0, 0, 0, 0.25);
}

.text_timer::before {
    margin-top: 2px;

    content: "";
    display: block;
    width: 15px;
    height: 20px;
    background-image: url(../images/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.match {
    margin-top: -5px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 11px;
    text-align: center;

    color: #FFFFFF;
}

.teams {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.teams h2 {
    margin: 0px 0px 3px 0px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 12px;
    text-align: center;

    color: #000000;
}

.teams h3 {
    margin: 0px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}


.logo_team {
    height: 60px;
    width: 60px;

    background-image: url(../images/logo/logo_1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.blank_team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 47px;
    width: 40px;

    margin: 0px 10px 0px 10px;

    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 6, 37, 0.5);
    border-radius: 5px;
}

.blank_draw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 44px;
    width: 37px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 3.9px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 6, 37, 0.5);
}

.strip_match {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 8px;
    padding: 0 15px 0 15px;
}
  
.stripe {
    display: inline-block;
    margin-bottom: 10px;

    height: 5px;
    
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.stripe:not(:last-child) {
    margin-right: -4px;
}
    
.blanks_question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blanks_question > div {
    margin-bottom: -10px; /* наезжание на 20px между блоками */
}

.blank_question {
    justify-content: center;
    align-items: center;

    padding-top: 20px;

    width: 280px;
    height: 500px;

    background: #FFFFFF;

    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.blank_down {
    height: 20px;
    border-radius: 0 0 20px 20px;
}

.foto_question {
    margin: auto;

    height: 220px;
    width: 220px;

    background-image: url(../images/question_img/easy_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    border-radius: 18px;
}

.text_question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto 0 auto;

    height: 60px;
    width: 90%;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    color: #393939;
}


.answer {
    display: flex;
    justify-content: left;
    position: relative;

    margin: auto;
    margin-top: 7px;
    padding: 12px 0;
    padding-left: 15px;

    width: 210px;

    background-color: #FFFFFF;
    border: 1.55391px solid #EFEFEF;
    box-shadow: 0px 7px 5px -5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;

    color: #393939;
}

.answer_true {
    display: flex;
    justify-content: left;
    position: relative;

    margin: auto;
    margin-top: 7px;
    padding: 12px 0;
    padding-left: 15px;

    width: 210px;

    background: #D0FFD6;
    border: 1.55391px solid #9CDE9C;
    box-shadow: 0px 0px 10px 0px rgba(53, 255, 12, 0.3);

    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;

    color: #388131;
}

.answer_true::after {
    content: "";

    position: absolute;
    right: 15px;

    width: 16px;
    height: 16px;

    background-image: url(../images/v.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.answer_lose {
    display: flex;
    justify-content: left;
    position: relative;

    margin: auto;
    margin-top: 7px;
    padding: 12px 0;
    padding-left: 15px;

    width: 210px;

    background: #FFD3D3;
    border: 1.55391px solid #DC8E97;
    box-shadow: 0px 7px 5px -5px rgba(133, 0, 0, 0.192);
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;

    color: #8f2333;
}

.answer_lose::after {
    content: "";

    position: absolute;
    right: 15px;

    width: 16px;
    height: 16px;

    background-image: url(../images/x.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.counter {
    position: fixed;
    top: 700px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.round_none {
    margin: 2px;

    width: 10px;
    height: 10px;

    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, #B6B6B6 100%);
    border-radius: 10px;
}

.round_now {
    margin: 2px;

    width: 12.5px;
    height: 12.5px;

    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 58.4%, #BDBDBD 58.41%, #D9D9D9 91.08%);
    border-radius: 12.5px;
}

.round_win {
    margin: 2px;

    width: 10px;
    height: 10px;

    background: radial-gradient(50% 50% at 50% 50%, #8DFF33 40.5%, #00FF1A 100%);
    box-shadow: 0px 0px 4px rgba(255, 248, 70, 0.5);
    border-radius: 10px;
}

.round_lose {
    margin: 2px;

    width: 10px;
    height: 10px;

    background: radial-gradient(50% 50% at 50% 50%, #EF691D 40.5%, #FF4343 100%);
    border-radius: 10px;
}