:root {
    --roboto: "Roboto", sans-serif;
    --inter: "Inter", sans-serif;
    --rubik_mono_one: "Rubik Mono One", sans-serif;
    --bebas_neue: "Bebas Neue", sans-serif;

    --w-container: 360px;

}

html, body{
    height: 100vh;
    overflow-y: hidden;
}

body {
    font-family: var(--roboto);

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

.container {
    box-sizing: border-box;

    margin: 0 auto;

    height: 100vh;
    width: 100%;
    max-width: var(--w-container);
}

.btn_standart {
    display: block;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 50px;
    
    width: 100%;
    max-width: 190px;

    background-color: #FFFFFF;
    border: 1.55391px solid #EFEFEF;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-align: center;

    color: #393939;
}


.block-choose {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    
    padding-top: 8px;
    padding-bottom: 8px;

    width: 100%;
    height: auto;

    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.9);
    border-radius: 18px;

    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    color: #393939;
}